.column-spacing {
    padding: 8px;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagination .page-item {
    margin: 0;
}

.pagination .page-link {
    border: none !important;
    border-radius: 0;
}

.contact-label {
    font-weight: bold;
}

.square-label {
    display: inline-block;
    padding: 5px;
    border-radius: 5px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
}

.white-link {
    color: white !important;
}

.custom-page-item {
    display: inline-block;
    margin-right: 5px;
}

.custom-page-link {
    color: white;
    background-color: red;
    border: 1px solid red;
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 4px;
    text-decoration: none;
}

.custom-page-link:hover {
    background-color: darkred;
}